* {
  margin: 0;
  padding: 0;
}

.sidebar {
  height: 98%;
  position: fixed;
  overflow: hidden;
  margin-top: 63px;
  transition: 0.5s;
  background-color: lightblue;
}

#right #right_div1 #sidebar_open {
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 15px;
}

#right {
  padding: 50px;
}

#ProductPage_item_wrapper {
  display: grid;
  place-items: center;
}

#ProductPage_item_wrapper #item {
  display: flex;
  flex-direction: column;
}

#ProductPage_item_wrapper #item #item_img {
  width: 500px;
}

#ProductPage_item_wrapper #item #item_info {
  display: flex;
  justify-content: space-between;
}

#card_bottom {
  /*  border: 1px solid black;
  display: flex;*/
  /*justify-content: flex-end;*/
}

.MuiGrid-container {
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 10px;
}
